@{
    ViewBag.Title = "AboutUs";
}

<h1>About Team Review</h1>
<p>Team Review is a web based tool designed and built by <a href="http://teamaton.com">teamaton</a>.</p>
<p>It is built with asp.net and the entity framework.</p>
<h2>Open Source - MIT License</h2>
<p>We have released it as an open source project under the MIT license so that anyone can improve upon it and use it on their own server infrastructure.</p>
<p>Check out the source code and fork team review on github: </p>
