<h1>Improve Your Team's and Your Own Performance with TeamReview</h1>

<div class="block-top">    
    <p>TeamReview is a simple little tool that lets you give regular and scheduled reviews.</p>
    <p>You can create your own categories that you want to review, e.g. Productivity, Skill, Teamwork, Creativity.</p>    
</div>
<blockquote>
    <p class="q-text">Tell me how you will measure me and I will tell you how I will behave</p>
    <p class="q-author">&mdash; Eli Goldratt</p>
</blockquote>

<p class="ct2">
    <a class="ct21" href="@Url.Action("Login", "Account")"><i class="db12"></i>Create Review</a>
</p>

<h2>How does TeamReview work?</h2>
<div class="block-top">
    <h3>1. Create a Review</h3>
    <p>Add Categories and Invite Peers</p>
    <h3>2. Complete the Review</h3>
    <p>Let your team rate everyone's performance for all categories</p>
    <h3>3. Learn from the Results</h3>
    <p>Review your results by looking at visual charts</p>
</div>
