@{
    ViewBag.Title = "Peer Reviews - Evaluate Your Team's Performance | Team Review";
}

<div class="content-s">
    <h1>Peer Reviews with TeamReview</h1>
    
    <h2>What is a Peer Review?</h2>
    <div class="block-top">
        <p>A Peer Review is performance review method by which you compare team member performance for a given category.</p>            
    </div>
    <blockquote>        
        <p class="q-text">Peer review is the evaluation of work by one or more people of similar competence to the producers of the work (peers)</p>
        <p class="q-author"><a href="http://en.wikipedia.org/wiki/Peer_review" target="_blank">&mdash; from wikipedia</a></p>
    </blockquote>
</div>
<div class="sidebar">
    @Html.Partial("_Sidebar")
</div>