@{
    ViewBag.Title = "Stack Ranking - Improve Your Team's Performance | TeamReview.com";
}

<div class="content-s">
    <h1>Stack Ranking with TeamReview</h1>
    
    <h2>What is Stack Ranking?</h2>
    <div class="block-top">
        <p>Stack ranking is a method to compare the overall performance of team members.</p>            
    </div>
    <blockquote>        
        <p class="q-text">Stack ranking is a leadership construct whereby a workforce is graded in accordance with the individual productivity of its members</p>
        <p class="q-author"><a href="http://en.wikipedia.org/wiki/Vitality_curve" target="_blank">&mdash; from wikipedia</a></p>
    </blockquote>

   
</div>
<div class="sidebar">
    @Html.Partial("_Sidebar")
</div>